@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: white;
}

label {
    font-family: 'HakgyoansimWoojuR';
}

.box {
    margin-top: 10px;
    text-align: center;
}

.box2 {
    margin-top: 22px;
    text-align: center;
}

.loginBox {
    padding: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 8px 5px rgb(182, 182, 182);
}

.Title {
    margin-top: 180px;
    font-family: 'Bagel Fat One', cursive;
    font-size: 95px;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.startBtn {
    font-family: 'HakgyoansimWoojuR';
    font-size: 18px;
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    background-color: #3c3c3c;
    padding: 5px;
}

.startBtn:hover {
    color: white;
    background-color: #737373;
}

.loginBtn {
    font-family: 'HakgyoansimWoojuR';
    font-size: 18px;
    width: 410px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    background-color: #3c3c3c;
    padding: 5px;
}

.loginBtn:hover {
    color: white;
    background-color: #737373;
}

.SingInInput {
    width: 380px;
    height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-family: 'NanumSquareNeo-Variable';
    border: 1px solid #a6a6a6;
}

.IconBadge {
    position: relative;
    cursor: pointer;
}

.IconBadge:hover {
    color: #3c3c3c;
}

/* Main */
header {
    display: block;
}

nav {
    text-align: left;
    padding: 10px 20px 10px 20px;
    display: block;
}

section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

footer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px 0px 10px 0px;
}

/* 코드입력창 */
.CodeMirror {
    text-align: left;
    border: 1px solid #ccc;
    height: 320px;
    margin: 0px 10px 0px 10px;
    flex: 1;
    /* float: left;
    margin-left: 10px;
    width: 68%;
    height: 320px;
    background-color: #a6a6a6; */
    /* width: inherit;
    height: 300px; */
}

/* 입력, 출력하는 곳 */
.CodeSide {
    padding: 0px 20px 0px 20px;
    margin-right: 10px;
    width: 30%;
    height: 320px;
    border-radius: 20px;
    background-color: black;
    align-items: center;
}

/* ChatGPT */
.ChatGPT {
    width: 100%;
    height: 125px;
    margin: 0px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #3c3c3c;
    font-family: 'NanumSquareNeo-Variable';
    color: white;
    border-radius: 20px;
    clear: both;
}

.WhiteLabel {
    margin: 20px 0px 10px 0px;
    font-family: 'HakgyoansimWoojuR';
    font-size: 20px;
    color : white;
    text-align: left;
}

.InputText {
    resize: none;
    font-family: 'NanumSquareNeo-Variable';
    width: 100%;
    height: 70px;
}
.OutputText {
    resize: none;
    font-family: 'NanumSquareNeo-Variable';
    width: 100%;
    height: 120px;
}

/* Main 화면 버튼 정렬 */
.DPArrange {
    clear: both;
}

.ComBtn {
    background-color: black;
    color: white;
    font-family: 'HakgyoansimWoojuR';
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
    border-radius: 12px;
    margin-right: 10px;
}

.ComBtn:hover {
    background-color: #3c3c3c;
    color: white;
    cursor: pointer;
}

.SaveBtn {
    position: relative;
    top: 3px;
    background-color: white;
    color: black;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.SaveBtn:hover {
    background-color: #e3e3e3;
    color: black;
    cursor: pointer;
}

/* BookMark */
.BMsection {
    display: block;
    float: left;
    padding: 10px 20px 10px 20px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.logout {
    font-family: 'HakgyoansimWoojuR';
    font-weight: bold;
    color: rgb(0, 0, 0)
}

.logout:hover {
    cursor: pointer;
    color: #3c3c3c;
}

.BookMark_EX {
    font-family: 'HakgyoansimWoojuR';
    font-size: 20px;
}

.BM_Box {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 8px 3px rgb(182, 182, 182);
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
.BM_Box:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition-duration: 0.5;
}

.BM_Title {
    font-family: 'HakgyoansimWoojuR';
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.BM_Ex {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 18px;
}

/* DropDown */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 40px;
    font-family: 'NanumSquareNeo-Variable';
    padding: 2px 2px 2px 12px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
}

select:hover {
    border: 2px solid rgb(108, 108, 108);
    cursor: pointer;
}

optgroup {
    font-family: 'HakgyoansimWoojuR';
    font-size: 16px;
}

option {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 13px;
}

/* BookMark - 저장한 목록 클릭 시 */
.SaveContent{
    flex: 1;
    justify-content: center;
    background-color: #3c3c3c;
    margin: 15px 15px 0px 15px;
    width: 100%;
    height: 505px;
    border-radius: 20px;
    text-align: left;
    padding: 15px 20px 10px 20px;
}

.Language{
    background-color: white;
    color: black;
    font-family: 'HakgyoansimWoojuR';
    font-size: 17px;
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
    border-radius: 12px;
}

.SaveTitle{
    color: white;
    font-size: 25px;
    margin: 5px 0px 15px 0px;
    font-family: 'NanumSquareNeo-Variable';
}

.SaveHistory{
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    color: white;
    margin: 5px 0px 10px 0px;
    font-family: 'HakgyoansimWoojuR';
}

.SaveTime {
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}

.SaveChat{
    font-size: 18px;
}

.SaveDebug{
    padding: 5px 7px 5px 7px;
    float: right;
    margin-right: 5px;
    font-size: 20px;
    top: 3px;
    border: 1px solid white;
    background-color: #3c3c3c;
    color: white;
    border-radius: 20px;
}
.SaveDebug:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition-duration: 0.5;
}